RFD_PORT=8788
RFD_REFRESH_SECRET=local
RFD_REFRESH_INTERVAL_SECONDS=600
# RFD_BASE_URL=https://forums.redflagdeals.com
# REDIRECTS_URL=https://raw.githubusercontent.com/davegallant/rfd-redirect-stripper/main/redirects.json
